header h1 {
    background: url("bg.jpg") left / auto 100% no-repeat;
    font-size: 40pt;
    text-transform : uppercase;
    text-align: center;
}
nav {   
    font-size: 16pt;
    width: 150px;
    float: left;
}
nav а {
    display: block;
    margin: 10px 0px;
}
section {
    margin-left: 170px;
}